# Assets/PDF excluded
assets/Semester */*.pdf
assets/*.pdf

# Large binaries
*.iso
*.img
*.zip
*.tar.gz
*.tgz
ngrok
Microsoft.VisualStudio.Services.VSIXPackage

# Python
.venv/
venv/
.env
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Service data
/opt/cerberus_asist/
/var/log/cerberus_asist*
/var/lib/cerberus_asist/
/var/backups/cerberus_asist/

